<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /><uses-permission android:name="android.permission.FOREGROUND_SERVICE" /><uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" /><queries><package android:name="com.vkontakte.android" /></queries><application android:allowBackup="true" android:label="Моя пряжа" android:theme="@style/AppTheme" android:enableOnBackInvokedCallback="true" android:supportsRtl="true" android:icon="@mipmap/app_icon" android:roundIcon="@mipmap/app_icon">
        <activity android:name=".MainActivity" android:exported="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <service android:name=".OverlayService" android:exported="false" android:foregroundServiceType="specialUse"><property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="user_enabled_floating_shortcut_for_switching_between_yarn_app_and_vk" /></service></application>
</manifest>